.container {
    background-color:#b2cedad5;
    border:#0A1828 2px solid;
    border-radius: 6px;
    color: #0A1828;
    margin: 5% 25%;
    text-align: center;
}
h4{
  width: 20ex;
}
input{
  width: 50%;
  align-self: center;
}
button{
  height: 5ex;
  width: 80%;
  align-self: center ;
}