.container img {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  border:#0A1828 2px solid;
}
.informationsContainer{ 
  justify-content: space-between; /* horizontally */
  align-items: center; /* Center vertically */
  column-gap: 10%;
}
h5{
  color:#0A1828;
  align-self: center;
  text-align: center;
  align-self: center;
  margin: 10%;
  margin-bottom: 0%;
}
#isconnected{
cursor: pointer;
}
input{
  width:80%;
  border:none;
  color: #b4d0db;
}
.colors {
  background: #178582;
  background: #BFA181;
  background: #b4d0dba8;
  background: #0A1828;
}
